:root {
    --background-color: #FAF9F6;
    --font-main: 'Inter', sans-serif;
}

.bgcontainer{
    display: flex;
    background-color: #2b2b2b
}

.grid{
    display: grid;
    grid-template-rows: 6, 1fr;
}

.row1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    background-color: #FAF9F6;
    margin: 1rem;
}

.profile-pic{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 1.5rem;
}

.name-bio{
    background-color: #FFFFFF;
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 0 3px #DADADA;
}
     
 

.name{
    font-family: 'Inter', sans-serif;
    font-size:22px;
    font-weight: bold;
    color: #000;
    text-align: left;
    margin-bottom: 16px;
}

.bio{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 32.5rem;
    text-align: left;
}

.row2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    background-color: #FAF9F6;
    margin: 1rem;
}

.row3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    background-color: #FAF9F6;
    margin: 1rem;
}

.row4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    background-color: #FAF9F6;
    margin: 1rem;
}

.row5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    background-color: #FAF9F6;
    margin: 1rem;
}

.row6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    background-color: #FAF9F6;
    margin: 1rem;
}

@media (max-width: 640px) {
    .row1{
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-pic{
        width: 6rem;
        height: 6rem;
        border-radius: 1.5rem;
    }

    .name{
        font-size: 1.125rem;
    }

    .bio{
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}