:root {
    --background-color: #FAF9F6;
    --font-main: 'Inter', sans-serif;

}

.bgcontainer{
    display: flex;
    background-color: #2b2b2b
}

.grid{
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;

}

.row1 {
  display: grid;
  margin: 1rem;
  height: 9rem;
  width: 100%;
  max-width: 100%;
}

.flexbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.profile-pic{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 1.5rem;
}

.name-bio{
    background-color: #FFFFFF;
    padding: 1rem;
    box-shadow: 0 0 3px #DADADA;
    height: 9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border-radius: 0.75rem;
}

.name-bio::-webkit-scrollbar {
  width: 8px;
}

.name-bio::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px; /* 🔁 Rounded scrollbar thumb */
}

.name-bio::-webkit-scrollbar-track {
  background: transparent;
}

.name{
    font-family: 'Inter', sans-serif;
    font-size: 1.375rem;
    font-weight: bold;
    color: #000;
    text-align: left;
    margin: 0 0 1rem 0;
}

.bio{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 32.5rem;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.row2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    background-color: #FAF9F6;
    margin: 1rem;
}

.row3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    background-color: #FAF9F6;
    margin: 1rem;
}

.row4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    background-color: #FAF9F6;
    margin: 1rem;
}

.row5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    background-color: #FAF9F6;
    margin: 1rem;
}

.row6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    background-color: #FAF9F6;
    margin: 1rem;
}

@media (max-width: 640px) {
    .row1{
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-pic{
        width: 6rem;
        height: 6rem;
        border-radius: 1.5rem;
    }

    .name{
        font-size: 1.125rem;
    }

    .bio{
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}